<form>
    <input type="hidden" name="product-id" value="{{product}}">
    <input type="hidden" name="store-id" value="{{store}}">
    <input type="text" name="amount">
    <button class="add-to-cart-btn">Add to cart</button>
</form>