<nav>
    <div>
        <input type="text">
        <button>Search</button>
    </div>

    {{!-- Basic Planning | Box to the right --}}
    <div>
        {{#if user}}
        <a id="cart">Cart</a>
        <a id="wishlist">Wishlist</a>
        {{else if store}}
        <a href="/products/add" id="add-product">Add a Products</a>
        <a id="my-products">Products</a>
        {{else}}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        {{/if}}

        {{#if user}}
        {{else}}
        {{#if store}}
        <button id="logout">Logout</button>
        {{/if}}
        {{/if}}
    </div>
</nav>

<script src="/partials/navbar.js"></script>