<nav>
    <div>
        <input type="text">
        <button>Search</button>
    </div>

    {{!-- Basic Planning | Box to the right --}}
    <div>
        {{#if User}}
        <a id="cart">Cart</a>
        <a id="wishlist">Wishlist</a>
        {{else if Store}}
        <a href="/products/add" id="add-product">Add a Products</a>
        <a id="my-products">Products</a>
        {{else if Anonymous}}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        {{/if}}

        {{#unless Anonymous}}
        <button id="logout">Logout</button>
        {{/unless}}
    </div>
</nav>

<script src="/partials/navbar.js"></script>