<nav>
    <a href="/">
        <h1>market.io</h1>
    </a>
    <div>
        <input id="search-text" type="text">
        <button id="search-btn">Search</button>
    </div>

    {{!-- Basic Planning | Box to the right --}}
    <div>
        {{#if User}}
        <a href="/carts/my-cart" id="cart">Cart</a>
        <a id="wishlist">Wishlist</a>
        {{else if Store}}
        <a href="/products/add" id="add-product">Add a Products</a>
        <a id="my-products">Products</a>
        {{else if Anonymous}}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        {{/if}}

        {{#unless Anonymous}}
        <button id="logout">Logout</button>
        {{/unless}}
    </div>
</nav>

<script src="/partials/navbar.js"></script>