<nav>

    <div>
        <input type="text">
        <button>Search</button>
    </div>

    {{!-- Basic Planning | Box to the right --}}
    <div>
        {{#if user}}
        <button>Cart</button>
        <button>Wishlist</button>
        <button>Logout</button>
        {{else if store}}
        <button>Add a Products</button>
        <button>Products</button>
        <button>Logout</button>
        {{else}}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        {{/if}}
    </div>
</nav>