<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/main.js"></script>
</head>

<body>
  {{> navbar}}
  {{{body}}}
</body>

</html>