<h2>Cart</h2>

<button id="clear-cart" {{#unless cart}} disabled {{/unless}}>Clear your cart</button>

<section class="cart-grid">
    {{#each cart}}
    {{#if bundle}}
    {{> cartBundle this}}
    {{else}}
    {{> cartProduct this}}
    {{/if}}
    {{/each}}
</section>

<h5 id="final-bill">Final bill {{bill}}</h5>

<button id="order-now" {{#unless cart}} disabled {{/unless}}>Order Now</button>

<script src="/user/cart.js"></script>