body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

label {
  display: block;
}

.cart-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  .product-card {
    border: solid 1px black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
