<section>
    <h1>Login Page</h1>

    <form>

        <div>
            <label for="user-radio">I'm a user</label>
            <input type="radio" name="login-type" id="user-radio" checked>
            <label for="store-radio">I'm a store</label>
            <input type="radio" name="login-type" id="store-radio">
        </div>

        <section>
            <label for="email">E-mail</label>
            <input type="text" id="email" autofocus>
        </section>

        <section>
            <label for="password">Password</label>
            <input type="password" id="password">
        </section>

        <button id="login-submit-button">Login</button>
    </form>
</section>