<section>
    <h1>Register Page</h1>

    <form>

        <div>
            <label for="user-radio">I'm a user</label>
            <input type="radio" name="registration-type" id="user-radio" checked>
            <label for="store-radio">I'm a store</label>
            <input type="radio" name="registration-type" id="store-radio">
        </div>

        <section>
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" autofocus>
        </section>

        <section>
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname">
        </section>

        <section>
            <label for="phone">Phone</label>
            <input type="text" id="phone">
        </section>

        <section>
            <label for="email">E-mail</label>
            <input type="text" id="email">
        </section>

        <section>
            <label for="password">Password</label>
            <input type="text" id="password">
        </section>

        <section>
            <label for="re-password">Retype your password</label>
            <input type="text" id="re-password">
        </section>

        <button id="register-submit-button">Register</button>
    </form>
</section>