<section>
    <h1>Register Page</h1>

    <form>

        <div>
            <label for="user-radio">I'm a user</label>
            <input type="radio" name="registration-type" id="user-radio" value="user" checked>

            <label for="store-radio">I'm a store</label>
            <input type="radio" name="registration-type" id="store-radio" value="store">
        </div>

        <section>
            <label for="name">Name</label>
            <input type="text" id="name" autofocus required>
            <small class="error name"></small>
        </section>

        <section>
            <label for="phone">Phone</label>
            <input type="text" id="phone" required>
            <small class="error phone"></small>
        </section>

        <section>
            <label for="email">E-mail</label>
            <input type="text" id="email" required>
            <small class="error email"></small>
        </section>

        <section>
            <label for="password">Password</label>
            <input type="password" id="password" required>
            <small class="error password"></small>
        </section>

        <section>
            <label for="repassword">Retype your password</label>
            <input type="password" id="repassword" required>
            <small class="error repassword"></small>
        </section>

        <button id="register-submit-button">Register</button>
    </form>
</section>

<script src="/general/register.js"></script>