@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import './components/components.css';

@import 'tailwindcss/utilities';
@import 'tailwindcss/screens';
* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #2c3e50;
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2334495e' fill-opacity='0.26' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
	color: white;
}
